In [1]:
import crime as cr
import pandas as pd, numpy as np
df_arrests = pd.read_csv('add_county/output/dist_arrests.csv', index_col=0)
df_crime = pd.read_csv('add_county/output/dist_crime.csv', index_col=0)
display(df_arrests)
display(df_crime)

,police_dept,county,year,adultcount,juvenilecount,type
27,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Murder Non Negligent Manslaughter
28,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Rape
29,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Robbery
30,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Aggravated Assault
31,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Burglary
...,...,...,...,...,...,...
93109,Green Mountain Falls PD,EL PASO,2006.0,0.0,0.0,Weapons
93110,Longmont PD,BOULDER,2013.0,81.0,37.0,Drug Violations
93111,Routt County Sheriff,ROUTT,2014.0,0.0,0.0,Larceny
93112,Fremont County Sheriff,FREMONT,2012.0,5.0,0.0,Weapons
93113,Dillon PD,SUMMIT,2002.0,0.0,0.0,Burglary

,police_dept,county,year,type,count
17,Collbran PD,MESA,2015.0,Murder/Manslaughter,0.0
18,Collbran PD,MESA,2015.0,Negligent Manslaughter,0.0
19,Collbran PD,MESA,2015.0,Rape,0.0
20,Collbran PD,MESA,2015.0,Rape,0.0
21,Collbran PD,MESA,2015.0,Robbery,0.0
...,...,...,...,...,...
78836,Summit County Sheriff,SUMMIT,2013.0,Assaults,5.0
78837,San Miguel County Sheriff,SAN MIGUEL,2013.0,Assaults,0.0
78839,Las Animas PD,BENT,2007.0,Burglary,0.0
78840,Pagosa Springs PD,ARCHULETA,2015.0,Motor Vehicle Theft,0.0
78842,Gunnison County Sheriff,GUNNISON,2012.0,Assaults,4.0

## **Juvenile Arrests by District**

---

In [2]:
df = df_arrests.copy()

df = df.drop(columns=['adultcount'])

# Apparently there were duplicate rows, when there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_juvenile.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,19.0,196.0,5.0,37.0,16.0,12.0,96.0,...,0.0,7.0,0.0,NaN,4.0,0.0,18.0,0.0,39.0,7.0
1,2001.0,Adams State College PD,ALAMOSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,1.0,18.0,0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0

## **Adult Arrests by District**

---

In [3]:
df = df_arrests.copy()

df = df.drop(columns=['juvenilecount'])

# Apparently there were duplicate rows, even though there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_adult.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,108.0,4296.0,2.0,31.0,0.0,607.0,73.0,...,57.0,11.0,0.0,NaN,21.0,0.0,28.0,1.0,79.0,19.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,4.0,1.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,0.0,153.0,0.0,0.0,0.0,94.0,0.0,...,10.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,7.0,0.0

## **Total Arrests by District**

---

In [4]:
df = df_arrests.copy()

df['count'] = df.juvenilecount + df.adultcount

df = df.drop(columns=['juvenilecount', 'adultcount'])

# Apparently there were duplicate rows, even though there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_total.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,127.0,4492.0,7.0,68.0,0.0,619.0,169.0,...,57.0,18.0,0.0,NaN,25.0,0.0,46.0,0.0,118.0,26.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,4.0,1.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,1.0,171.0,0.0,0.0,0.0,97.0,0.0,...,11.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,8.0,0.0

## **Crime by District**

---

In [5]:
df = df_crime.copy()

# Group by the same keys as the Arrests data. This will remove subtype column automatically when we agg sum it
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

df.columns = df.columns.droplevel()
df = df.reset_index()

df.to_csv('output/dist_crime_total.csv')

df.head(3)

type,year,police_dept,county,Arson,Assaults,Burglary,Larceny/Theft,Motor Vehicle Theft,Murder/Manslaughter,Negligent Manslaughter,Rape,Robbery
0,2001.0,Adams County Sheriff,ADAMS,60.0,906.0,794.0,2647.0,727.0,6.0,102.0,NaN,58.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,5.0,4.0,51.0,1.0,0.0,0.0,NaN,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,0.0,31.0,0.0,28.0,0.0,0.0,4.0,NaN,0.0

In [3]:
import crime as cr
cr.sources('dist_student_mobility')

District Student Mobility/Stability Statistics for 2011-2012 by Instructional Program/Service Type
https://dev.socrata.com/foundry/data.colorado.gov/6wcd-ysh5

The 2011-12 school year marked the sixth year in which the Colorado
Department of Education calculated and reported student mobility
rates. In addition, this year the state began reporting stability
rates. The stability rate represents the number and percent of
students who remained at a school/district without interruption
throughout the school year.

Rows:    184
Cols:    60
Period:  2011 to 2012

COLUMNS:
-------
School Year
  Field:  school_year
  Type:   number
  Null:   -
  Count:  184
  Min:    20,112,012
  Max:    20,112,012
  Avg:    20,112,012
  Sum:    3,700,610,208

Org. Code
  Field:  org_code
  Type:   number
  Null:   -
  Count:  184
  Min:    10
  Max:    9,999
  Avg:    1,919.04
  Sum:    353,104

Organization Name
  Field:  organization_name
  Type:   text
  Null:   -
  Count:  184
  ITEMS:
     EATON RE-2  (20)
     KEENESBURG RE-3(J)  (19)
     WINDSOR RE-4  (18)
     JOHNSTOWN-MILLIKEN RE-5J  (17)
     GREELEY 6  (16)
     PLATTE VALLEY RE-7  (15)
     WELD COUNTY S/D RE-8  (14)
     AULT-HIGHLAND RE-9  (13)
     BRIGGSDALE RE-10  (12)
     PRAIRIE RE-11  (11)
     PAWNEE RE-12  (10)
     YUMA 1  (9)
     WRAY RD-2  (8)
     IDALIA RJ-3  (7)
     LIBERTY J-4  (6)
     CHARTER SCHOOL INSTITUTE  (5)
     MOUNTAIN BOCES  (4)
     CENTENNIAL BOCES  (3)
     SAN JUAN BOCES  (2)
     EXPEDITIONARY BOCES  (1)

Category
  Field:  category
  Type:   text
  Null:   -
  Count:  184

Total Pupil Count (All students)
  Field:  total_pupil_count_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    16
  Max:    939,283
  Avg:    10,209.6
  Sum:    1,878,566

Total Stable Pupil Count (All Students)
  Field:  total_stable_pupil_count_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    705,064
  Avg:    7,663.74
  Sum:    1,410,128

Total Stability Rate (All Students)
  Field:  total_stability_rate_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    84.5
  Avg:    69.91
  Sum:    12,863.4

Total Mobile Student Count (All students)
  Field:  total_mobile_student_count_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    13
  Max:    231,706
  Avg:    2,518.54
  Sum:    463,412

Total Student Mobility Rate (All students)
  Field:  total_student_mobility_rate_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    15.4
  Max:    100
  Avg:    30.14
  Sum:    5,546.2

Total Instances of Mobility (All students)
  Field:  total_instances_of_mobility_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    13
  Max:    253,577
  Avg:    2,756.27
  Sum:    507,154

Total Mobility Incidence Rate (All students)
  Field:  total_mobility_incidence_rate_all_students
  Type:   number
  Null:   -
  Count:  184
  Min:    16.3
  Max:    100
  Avg:    31.55
  Sum:    5,804.7

Students with Disabilities Pupil Count
  Field:  students_with_disabilities_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    1
  Max:    84,121
  Avg:    914.36
  Sum:    168,242

Students with Disabilities Stable Student Count
  Field:  students_with_disabilities_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    65,593
  Avg:    712.97
  Sum:    131,186

Students with Disabilities Stability Rate
  Field:  students_with_disabilities_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    70.72
  Sum:    13,013.4

Students with Disabilities Mobile Student Count
  Field:  students_with_disabilities_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    18,348
  Avg:    199.43
  Sum:    36,696

Students with Disabilities Student Mobility Rate
  Field:  students_with_disabilities_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    29.54
  Sum:    5,436.2

Students with Disabilities Instances of Mobility
  Field:  students_with_disabilities_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    20,784
  Avg:    225.91
  Sum:    41,568

Students with Disabilities Mobility Incidence Rate
  Field:  students_with_disabilities_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    30.97
  Sum:    5,698.8

English Language Learners Pupil Count
  Field:  english_language_learners_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    135,712
  Avg:    1,475.13
  Sum:    271,424

English Language Learners Stable Student Count
  Field:  english_language_learners_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    101,683
  Avg:    1,105.25
  Sum:    203,366

English Language Learners Stability Rate
  Field:  english_language_learners_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    62.53
  Sum:    11,506.1

English Language Learners Mobile Student Count
  Field:  english_language_learners_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    33,730
  Avg:    366.63
  Sum:    67,460

English Language Learners Student Mobility Rate
  Field:  english_language_learners_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    26.02
  Sum:    4,787.6

English Language Learners Instances of Mobility
  Field:  english_language_learners_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    37,912
  Avg:    412.09
  Sum:    75,824

English Language Learners Mobility Incidence Rate
  Field:  english_language_learners_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    27.29
  Sum:    5,021.0

Economically Disadvantaged Pupil Count
  Field:  economically_disadvantaged_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    369,904
  Avg:    4,020.7
  Sum:    739,808

Economically Disadvantaged Stable Student Count
  Field:  economically_disadvantaged_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    273,934
  Avg:    2,977.54
  Sum:    547,868

Economically Disadvantaged Stability Rate
  Field:  economically_disadvantaged_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    89
  Avg:    67.37
  Sum:    12,395.9

Economically Disadvantaged Mobile Student Count
  Field:  economically_disadvantaged_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    94,138
  Avg:    1,023.24
  Sum:    188,276

Economically Disadvantaged Student Mobility Rate
  Field:  economically_disadvantaged_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    94.4
  Avg:    31.5
  Sum:    5,796.3

Economically Disadvantaged Instances of Mobility
  Field:  economically_disadvantaged_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    107,242
  Avg:    1,165.67
  Sum:    214,484

Economically Disadvantaged Mobility Incidence Rate
  Field:  economically_disadvantaged_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    94.4
  Avg:    33.29
  Sum:    6,124.8

Migrant Pupil Count
  Field:  migrant_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    2,732
  Avg:    29.7
  Sum:    5,464

Migrant Stable Student Count
  Field:  migrant_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    1,725
  Avg:    18.75
  Sum:    3,450

Migrant Stability Rate
  Field:  migrant_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    35.91
  Sum:    6,607.3

Migrant Mobile Student Count
  Field:  migrant_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    988
  Avg:    10.74
  Sum:    1,976

Migrant Student Mobility Rate
  Field:  migrant_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    21.64
  Sum:    3,981.8

Migrant Instances of Mobility
  Field:  migrant_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    1,108
  Avg:    12.04
  Sum:    2,216

Migrant Mobility Incidence Rate
  Field:  migrant_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    22.36
  Sum:    4,114.4

Title 1 Pupil Count
  Field:  title_1_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    223,008
  Avg:    2,424
  Sum:    446,016

Title 1 Stable Student Count
  Field:  title_1_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    156,814
  Avg:    1,704.5
  Sum:    313,628

Title 1 Pupil Stability Rate
  Field:  title_1_pupil_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    70.17
  Sum:    12,911.6

Title 1 Mobile Student Count
  Field:  title_1_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    64,601
  Avg:    702.18
  Sum:    129,202

Title 1 Student Mobility Rate
  Field:  title_1_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    63.6
  Avg:    24.92
  Sum:    4,586.0

Title 1 Instances of Mobility
  Field:  title_1_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    73,472
  Avg:    798.61
  Sum:    146,944

Title 1 Mobility Incidence Rate
  Field:  title_1_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    63.6
  Avg:    26.37
  Sum:    4,851.4

Homeless Pupil Count
  Field:  homeless_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    21,337
  Avg:    231.92
  Sum:    42,674

Homeless Stable Student Count
  Field:  homeless_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    11,326
  Avg:    123.11
  Sum:    22,652

Homeless Stability Rate
  Field:  homeless_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    24.03
  Sum:    4,421.8

Homeless Mobile Student Count
  Field:  homeless_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    9,665
  Avg:    105.05
  Sum:    19,330

Homeless Student Mobility Rate
  Field:  homeless_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    34.41
  Sum:    6,331.8

Homeless Instances of Mobility
  Field:  homeless_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    11,558
  Avg:    125.63
  Sum:    23,116

Homeless Mobility Incidence Rate
  Field:  homeless_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    160
  Avg:    37.25
  Sum:    6,853.5

Gifted & Talented Pupil Count
  Field:  gifted_talented_pupil_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    73,344
  Avg:    797.22
  Sum:    146,688

Gifted & Talented Stable Student Count
  Field:  gifted_talented_stable_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    66,620
  Avg:    724.13
  Sum:    133,240

Gifted & Talented Stability Rate
  Field:  gifted_talented_stability_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    83.61
  Sum:    15,384.5

Gifted & Talented Mobile Student Count
  Field:  gifted_talented_mobile_student_count
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    6,641
  Avg:    72.18
  Sum:    13,282

Gifted & Talented Student Mobility Rate
  Field:  gifted_talented_student_mobility_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    10.97
  Sum:    2,018.5

Gifted & Talented Instances of Mobility
  Field:  gifted_talented_instances_of_mobility
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    7,366
  Avg:    80.07
  Sum:    14,732

Gifted & Talented Mobility Incidence Rate
  Field:  gifted_talented_mobility_incidence_rate
  Type:   number
  Null:   -
  Count:  184
  Min:    -
  Max:    100
  Avg:    11.91
  Sum:    2,192.2