In [7]:
import pandas as pd, numpy as np

dem_norm = pd.read_csv('output/county_stats_normalized.csv')
dem_cnt = pd.read_csv('output/county_stats_counts.csv')

edu_norm = pd.read_csv('output/education_county_rates.csv').rename(columns={'geo_county':'geo'})
edu_cnt = pd.read_csv('output/education_county_counts.csv').rename(columns={'geo_county':'geo'})

cr_base_rate = pd.read_csv('../crime_records/output/crime_agg_base_rate.csv')
cr_base_count = pd.read_csv('../crime_records/output/crime_agg_base_count.csv')
cr_cat = pd.read_csv('../crime_records/output/crime_agg_category.csv')
cr_name = pd.read_csv('../crime_records/output/crime_agg_name.csv')
cr_cat_rate = pd.read_csv('../crime_records/output/crime_agg_category_rate.csv')
cr_name_rate = pd.read_csv('../crime_records/output/crime_agg_name_rate.csv')

display(dem_norm.head(3), dem_cnt.head(3), edu_norm.head(3), edu_cnt.head(3), cr_base_count.head(3), cr_base_rate.head(3), cr_cat.head(3), cr_name.head(3), cr_cat_rate.head(3), cr_name_rate.head(3))

,year,county,geo,age_over18_prop,age_undr19_prop,gend_m_prop,gend_f_prop,age_undr19_gend_m_prop,age_undr19_gend_f_prop,age_over18_gend_m_prop,...,hu_per_cap,age_median,inc_hh_median,hh_size_avg,hu_oo_freq_val_ord,hu_oo_freq_val,hu_blt_freq_yr_ord,hu_blt_freq_yr,med_hm_val,med_yr_blt
0,2012.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.705276,0.294724,0.502904,0.497107,0.511838,0.488162,0.499170,...,0.354520,32.4,56633,2.91,3,v150k_250k,7,b2000_2009,188100,1983
1,2013.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.707775,0.292225,0.502758,0.497231,0.511893,0.488107,0.498987,...,0.347988,32.6,56270,2.93,3,v150k_250k,7,b2000_2009,186600,1983
2,2014.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.710869,0.289131,0.502561,0.497424,0.511737,0.488263,0.498829,...,0.342535,32.8,57421,2.95,3,v150k_250k,7,b2000_2009,189400,1983

,year,county,geo,pop,gend_m,gend_f,age_over18,age_undr19,gend_m_age_undr19,gend_f_age_undr19,...,hu_blt_1990_1999,hu_blt_1980_1989,hu_blt_1970_1979,hu_blt_1960_1969,hu_blt_1950_1959,hu_blt_lt_1950,ps_known,ps_below,ps_undr18_known,ps_undr18_below
0,2012.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,460468.0,231571.0,228902.0,324757.0,135711.0,69462.0,66249.0,...,27598,20368,30185,19615,20369,6158,438171,62008,124375,25278
1,2013.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,469878.0,236235.0,233638.0,332568.0,137310.0,70288.0,67022.0,...,27310,20929,28972,20124,20131,6473,447014,63540,126128,25247
2,2014.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,479904.0,241181.0,238716.0,341149.0,138755.0,71006.0,67749.0,...,26953,20664,29550,19704,19775,6818,456829,64599,128235,25000

,county,geo,stable_rate,mobile_rate,mobile_instances_rate,disabled_stable_rate,disabled_mobile_rate,disabled_mobile_instances_rate,disabled_graduated_rate,disabled_completed_rate,...,white_mobile_instances_rate,black_stable_rate,black_mobile_rate,black_mobile_instances_rate,hispanic_stable_rate,hispanic_mobile_rate,hispanic_mobile_instances_rate,asian_stable_rate,asian_mobile_rate,asian_mobile_instances_rate
0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,68.26,31.68,34.43,70.78,29.25,32.73,47.54,50.10,...,32.45,54.66,45.08,47.91,67.49,32.71,36.40,78.55,21.37,23.54
1,ALAMOSA,MULTIPOLYGON (((-105.59917426201822 37.7521648...,67.82,31.89,34.23,71.30,28.25,29.60,86.67,93.33,...,35.54,57.14,42.86,42.86,70.15,29.47,32.69,64.00,36.00,36.00
2,ARAPAHOE,MULTIPOLYGON (((-103.70653410023402 39.7398580...,75.51,24.18,25.89,79.89,19.88,21.69,51.26,52.06,...,21.16,67.47,32.03,34.57,72.76,26.75,29.20,78.59,21.30,22.56

,county,geo,pupil_total,stable,mobile,mobile_instances,disabled_pupil_total,disabled_stable,disabled_mobile,disabled_mobile_instances,...,migrant_completed,title_1_grad_base_total,title_1_graduated,title_1_completed,homeless_grad_base_total,homeless_graduated,homeless_completed,gifted_grad_base_total,gifted_graduated,gifted_completed
0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,98546,67272,31222,33925,8848,6263,2588,2896,...,33,935,529,559,360,190,204,402,337,345
1,ALAMOSA,MULTIPOLYGON (((-105.59917426201822 37.7521648...,2775,1882,885,950,223,159,63,66,...,4,28,22,23,6,6,6,0,0,0
2,ARAPAHOE,MULTIPOLYGON (((-103.70653410023402 39.7398580...,124639,94109,30134,32269,11842,9461,2354,2568,...,9,488,202,213,243,96,102,909,820,828

,year,county,geo,cr_count,against_person,against_property,against_society,not_a_crime
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,22947,3047.0,17766.0,2134.0,0.0
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,26748,3457.0,21065.0,2224.0,2.0
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,24733,2902.0,19315.0,2513.0,3.0

,year,county,geo,cr_rate,age_avg,quarter_mode,month_mode,day_of_week_mode,hour_mode,against_person_rate,against_property_rate,against_society_rate
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.068962,24.582071,1.0,3.0,0.0,17.0,0.009157,0.053391,0.006413
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.077750,24.822389,2.0,5.0,1.0,17.0,0.010049,0.061231,0.006465
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.069610,25.124482,3.0,8.0,0.0,18.0,0.008168,0.054361,0.007073

,year,county,geo,arson,assault,bribery,burglary,drug,embezzlement,extortion,...,kidnapping,larceny_theft,porn,property_damage,prostitution,robbery,sex_offense,stolen_property,vehicle_theft,weapon_law
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,86.0,2672.0,2.0,1931.0,1845.0,26.0,5.0,...,50.0,8023.0,1.0,5467.0,14.0,189.0,316.0,245.0,1317.0,274.0
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,97.0,3019.0,1.0,2444.0,1875.0,29.0,3.0,...,54.0,9258.0,0.0,6301.0,15.0,273.0,377.0,272.0,1575.0,334.0
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,97.0,2510.0,1.0,2070.0,2163.0,52.0,2.0,...,47.0,9064.0,0.0,5453.0,14.0,190.0,330.0,276.0,1438.0,336.0

,year,county,geo,arson,assault_aggravated,assault_simple,bribery,burglary,credit_card_machine_fraud,drug_equipment,...,shoplifting,sodomy,stolen_property,theft_from_building,theft_from_vehicle,theft_from_vending_machine,vehicle_part_theft,vehicle_theft,weapon_law,wire_fraud
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,86.0,602.0,1954.0,2.0,1931.0,44.0,725.0,...,1323.0,3.0,245.0,1232.0,1733.0,53.0,1293.0,1317.0,274.0,0.0
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,97.0,735.0,2202.0,1.0,2444.0,120.0,628.0,...,1813.0,3.0,272.0,1215.0,2203.0,38.0,1397.0,1575.0,334.0,1.0
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,97.0,584.0,1868.0,1.0,2070.0,104.0,711.0,...,1641.0,2.0,276.0,1190.0,2115.0,57.0,1480.0,1438.0,336.0,2.0

,year,county,geo,arson_rate,assault_rate,bribery_rate,burglary_rate,drug_rate,embezzlement_rate,extortion_rate,...,kidnapping_rate,larceny_theft_rate,porn_rate,property_damage_rate,prostitution_rate,robbery_rate,sex_offense_rate,stolen_property_rate,vehicle_theft_rate,weapon_law_rate
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000258,0.008030,0.000006,0.005803,0.005545,0.000078,0.000015,...,0.000150,0.024111,0.000003,0.016430,0.000042,0.000568,0.000950,0.000736,0.003958,0.000823
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000282,0.008776,0.000003,0.007104,0.005450,0.000084,0.000009,...,0.000157,0.026911,0.000000,0.018316,0.000044,0.000794,0.001096,0.000791,0.004578,0.000971
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000273,0.007064,0.000003,0.005826,0.006088,0.000146,0.000006,...,0.000132,0.025510,0.000000,0.015347,0.000039,0.000535,0.000929,0.000777,0.004047,0.000946

,year,county,geo,arson_rate,assault_aggravated_rate,assault_simple_rate,bribery_rate,burglary_rate,credit_card_machine_fraud_rate,drug_equipment_rate,...,shoplifting_rate,sodomy_rate,stolen_property_rate,theft_from_building_rate,theft_from_vehicle_rate,theft_from_vending_machine_rate,vehicle_part_theft_rate,vehicle_theft_rate,weapon_law_rate,wire_fraud_rate
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000258,0.001809,0.005872,0.000006,0.005803,0.000132,0.002179,...,0.003976,0.000009,0.000736,0.003702,0.005208,0.000159,0.003886,0.003958,0.000823,0.000000
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000282,0.002136,0.006401,0.000003,0.007104,0.000349,0.001825,...,0.005270,0.000009,0.000791,0.003532,0.006404,0.000110,0.004061,0.004578,0.000971,0.000003
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,0.000273,0.001644,0.005257,0.000003,0.005826,0.000293,0.002001,...,0.004619,0.000006,0.000777,0.003349,0.005953,0.000160,0.004165,0.004047,0.000946,0.000006

In [8]:
INDEX = ['year', 'county', 'geo']
for col in [i for i in dem_cnt.columns if i not in INDEX]:
    dem_cnt = dem_cnt.rename(columns={col: f'CENSUS_COUNT_{col}'})

for col in [i for i in dem_norm.columns if i not in INDEX]:
    dem_norm = dem_norm.rename(columns={col: f'CENSUS_NORM_{col}'})

dem = dem_cnt.merge(dem_norm, on=INDEX)


for col in [i for i in cr_name.columns if i not in INDEX]:
    cr_name = cr_name.rename(columns={col: f'CRIME_NAME_COUNT_{col}'})

for col in [i for i in cr_cat.columns if i not in INDEX]:
    cr_cat = cr_cat.rename(columns={col: f'CRIME_CATEGORY_COUNT_{col}'})

cr_count = cr_name.merge(cr_cat, on=INDEX)


for col in [i for i in cr_name_rate.columns if i not in INDEX]:
    cr_name_rate = cr_name_rate.rename(columns={col: f'CRIME_NAME_NORM_{col}'})

for col in [i for i in cr_cat_rate.columns if i not in INDEX]:
    cr_cat_rate = cr_cat_rate.rename(columns={col: f'CRIME_CATEGORY_NORM_{col}'})

cr_rate = cr_name_rate.merge(cr_cat_rate, on=INDEX)


for col in [i for i in cr_base_rate.columns if i not in INDEX]:
    cr_base_rate = cr_base_rate.rename(columns={col: f'CRIME_BASE_NORM_{col}'})

for col in [i for i in cr_base_count.columns if i not in INDEX]:
    cr_base_count = cr_base_count.rename(columns={col: f'CRIME_BASE_COUNT_{col}'})

cr_base = cr_base_count.merge(cr_base_rate, on=INDEX)


cr = cr_count.merge(cr_rate, on=INDEX)
cr = cr_base.merge(cr, on=INDEX)

INDEX = ['county', 'geo']
for col in [i for i in edu_cnt.columns if i not in INDEX]:
    edu_cnt = edu_cnt.rename(columns={col: f'EDU_COUNT_{col}'})

for col in [i for i in edu_norm.columns if i not in INDEX]:
    edu_norm = edu_norm.rename(columns={col: f'EDU_NORM_{col}'})

edu = edu_cnt.merge(edu_norm, on=INDEX)

display(
    dem.shape, dem.head(3),
    edu.shape, edu.head(3),
    cr.shape, cr.head(3))

(504, 108)

,year,county,geo,CENSUS_COUNT_pop,CENSUS_COUNT_gend_m,CENSUS_COUNT_gend_f,CENSUS_COUNT_age_over18,CENSUS_COUNT_age_undr19,CENSUS_COUNT_gend_m_age_undr19,CENSUS_COUNT_gend_f_age_undr19,...,CENSUS_NORM_hu_per_cap,CENSUS_NORM_age_median,CENSUS_NORM_inc_hh_median,CENSUS_NORM_hh_size_avg,CENSUS_NORM_hu_oo_freq_val_ord,CENSUS_NORM_hu_oo_freq_val,CENSUS_NORM_hu_blt_freq_yr_ord,CENSUS_NORM_hu_blt_freq_yr,CENSUS_NORM_med_hm_val,CENSUS_NORM_med_yr_blt
0,2012.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,460468.0,231571.0,228902.0,324757.0,135711.0,69462.0,66249.0,...,0.354520,32.4,56633,2.91,3,v150k_250k,7,b2000_2009,188100,1983
1,2013.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,469878.0,236235.0,233638.0,332568.0,137310.0,70288.0,67022.0,...,0.347988,32.6,56270,2.93,3,v150k_250k,7,b2000_2009,186600,1983
2,2014.0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,479904.0,241181.0,238716.0,341149.0,138755.0,71006.0,67749.0,...,0.342535,32.8,57421,2.95,3,v150k_250k,7,b2000_2009,189400,1983

(63, 138)

,county,geo,EDU_COUNT_pupil_total,EDU_COUNT_stable,EDU_COUNT_mobile,EDU_COUNT_mobile_instances,EDU_COUNT_disabled_pupil_total,EDU_COUNT_disabled_stable,EDU_COUNT_disabled_mobile,EDU_COUNT_disabled_mobile_instances,...,EDU_NORM_white_mobile_instances_rate,EDU_NORM_black_stable_rate,EDU_NORM_black_mobile_rate,EDU_NORM_black_mobile_instances_rate,EDU_NORM_hispanic_stable_rate,EDU_NORM_hispanic_mobile_rate,EDU_NORM_hispanic_mobile_instances_rate,EDU_NORM_asian_stable_rate,EDU_NORM_asian_mobile_rate,EDU_NORM_asian_mobile_instances_rate
0,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,98546,67272,31222,33925,8848,6263,2588,2896,...,32.45,54.66,45.08,47.91,67.49,32.71,36.40,78.55,21.37,23.54
1,ALAMOSA,MULTIPOLYGON (((-105.59917426201822 37.7521648...,2775,1882,885,950,223,159,63,66,...,35.54,57.14,42.86,42.86,70.15,29.47,32.69,64.00,36.00,36.00
2,ARAPAHOE,MULTIPOLYGON (((-103.70653410023402 39.7398580...,124639,94109,30134,32269,11842,9461,2354,2568,...,21.16,67.47,32.03,34.57,72.76,26.75,29.20,78.59,21.30,22.56

(1397, 141)

,year,county,geo,CRIME_BASE_COUNT_cr_count,CRIME_BASE_COUNT_against_person,CRIME_BASE_COUNT_against_property,CRIME_BASE_COUNT_against_society,CRIME_BASE_COUNT_not_a_crime,CRIME_BASE_NORM_cr_rate,CRIME_BASE_NORM_age_avg,...,CRIME_CATEGORY_NORM_kidnapping_rate,CRIME_CATEGORY_NORM_larceny_theft_rate,CRIME_CATEGORY_NORM_porn_rate,CRIME_CATEGORY_NORM_property_damage_rate,CRIME_CATEGORY_NORM_prostitution_rate,CRIME_CATEGORY_NORM_robbery_rate,CRIME_CATEGORY_NORM_sex_offense_rate,CRIME_CATEGORY_NORM_stolen_property_rate,CRIME_CATEGORY_NORM_vehicle_theft_rate,CRIME_CATEGORY_NORM_weapon_law_rate
0,1997,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,22947,3047.0,17766.0,2134.0,0.0,0.068962,24.582071,...,0.000150,0.024111,0.000003,0.016430,0.000042,0.000568,0.000950,0.000736,0.003958,0.000823
1,1998,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,26748,3457.0,21065.0,2224.0,2.0,0.077750,24.822389,...,0.000157,0.026911,0.000000,0.018316,0.000044,0.000794,0.001096,0.000791,0.004578,0.000971
2,1999,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,24733,2902.0,19315.0,2513.0,3.0,0.069610,25.124482,...,0.000132,0.025510,0.000000,0.015347,0.000039,0.000535,0.000929,0.000777,0.004047,0.000946

In [9]:
df = cr.merge(dem, on=['year', 'county', 'geo'])
df = df.merge(edu, on=['county', 'geo'])
display(df.shape, df.head(3))
df.to_csv('output/everything_grouped.csv', index=False)

(490, 382)

,year,county,geo,CRIME_BASE_COUNT_cr_count,CRIME_BASE_COUNT_against_person,CRIME_BASE_COUNT_against_property,CRIME_BASE_COUNT_against_society,CRIME_BASE_COUNT_not_a_crime,CRIME_BASE_NORM_cr_rate,CRIME_BASE_NORM_age_avg,...,EDU_NORM_white_mobile_instances_rate,EDU_NORM_black_stable_rate,EDU_NORM_black_mobile_rate,EDU_NORM_black_mobile_instances_rate,EDU_NORM_hispanic_stable_rate,EDU_NORM_hispanic_mobile_rate,EDU_NORM_hispanic_mobile_instances_rate,EDU_NORM_asian_stable_rate,EDU_NORM_asian_mobile_rate,EDU_NORM_asian_mobile_instances_rate
0,2012,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,35891,5041.0,23469.0,7381.0,0.0,0.077945,27.892097,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
1,2013,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,33220,4593.0,23863.0,4763.0,1.0,0.070699,28.669644,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
2,2014,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,34494,4975.0,24832.0,4686.0,1.0,0.071877,28.951378,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54